.main-content{
    min-height: calc(100vh - 184px); /* Adjust based on header/footer height */
}

.addMember
 {
    color: white;
    background: green;
    border-radius: 50%;
    font-style: normal;
    padding: 5px 15px;
    text-decoration: none;
}
.addMember .addIcon
 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

a.addMember.import {
    border-radius: 5px;
}